strong {
  color: red;
}
ol {
  background-color: rgb(155, 236, 241);
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 10px 50px;
}

.sitemap-Head {
  background-color: rgb(248, 237, 188);
  border-radius: 10px;
  padding: 1rem;
}
.sitemap-Head h1 {
  margin: 0;
}
.imgBox {
  width: 100%;
  background: center center no-repeat;
  background-size: contain;
}
/* .describe {
  background-color: #eee;
} */
.fixedBox {
  /* position: fixed; */
  overflow: scroll;
}

.border-red{
  border: solid red 2px;
}

.border-orange{
  border: solid orange 2px;
}

.border-yellow{
  border: solid yellow 2px;
}
.border-green{
  border: solid green 2px;
}
.border-blue{
  border: solid blue 2px;
}
.border-purple{
  border: solid purple 2px;
}

.btnBack {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 20px;
  background-color: rgb(178, 253, 178);
  border-radius: 50%;
  line-height: 100px;
  text-align: center;
  right: 50px;
}
.mainProjectBgc {
  background: rgb(148, 245, 177);
  margin: 5px;
  padding: 15px;
  border-radius: 10px;
}
.extensionProjectBgc {
  background: rgb(148, 245, 229);
  margin: 5px;
  padding: 15px;
  border-radius: 10px;
}
.extensionProjectItem {
  /* background: rgb(148, 245, 229); */
  margin: 5px;
  padding: 15px;
  border-radius: 10px;
}
.ref-info {
  background: rgb(148, 239, 245);
  margin: 5px;
  padding: 15px;
  border-radius: 10px;
}
.ref-link {
  text-align: center;
  width: 200px;
  background: rgb(210, 247, 161);
  margin: 5px;
  padding: 15px;
  border-radius: 10px;
}
